.title {
  font-size: 75px;
}

#earth{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 700px;
height: 700px;
background: lightblue;
border-radius: 50%;
box-shadow: -40px -20px 0 0 rgba(0, 0, 0, 0.1) inset,
            -70px -40px 0 0 rgba(0, 0, 0, 0.1) inset,
            5px 5px 0 0 rgba(255, 255, 255, 0.2) inset;
background: url(https://raw.githubusercontent.com/CoffeJeanCode/basic-animations-css-workshop/main/practices/3-earth/map.png);
background-size: cover;
will-change: background-position;
animation: rotate 10s infinite linear;
}

.firstpage {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
		background-position: left center;
	}
	to {
		background-position: -396.5px center;
	}
}

.stick {
  background: linear-gradient(#407ba0, #214154, #13242f);
}

@font-face {
  font-family: 'quicksand_bold';
  src: url('Quicksand-Bold.otf');
}

@font-face {
  font-family: 'd-din';
  src: url('D-Din.otf');
}
