.title {
  font-size: 75px;
}

/*
Animated rotating earth
*/
#earth{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 700px;
height: 700px;
background: lightblue;
border-radius: 50%;
box-shadow: -40px -20px 0 0 rgba(0, 0, 0, 0.1) inset,
            -70px -40px 0 0 rgba(0, 0, 0, 0.1) inset,
            5px 5px 0 0 rgba(255, 255, 255, 0.2) inset;
background: url('../images/earth.jpg');
background-size: cover;
will-change: background-position;
animation: rotate 10s infinite linear;
}

.firstpage {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
		background-position: left center;
	}
	to {
		background-position: -396.5px center;
	}
}

.stick {
  background: rgb(0,0,0);
 background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(61,30,9,1) 47%, rgba(105,85,25,0.8309524493391106) 91%, rgba(150,94,11,0.7973390039609594) 100%);
}

/*
font values
*/
@font-face {
  font-family: 'quicksand_bold';
  src: url('Quicksand-Bold.otf');
}

@font-face {
  font-family: 'd-din';
  src: url('D-Din.otf');
}

/*
grid values for certs and about me Page
*/
#visits {
  color:white;
  font-size: 40px;
}
.grid {
  text-align:center;column-gap:1;row-gap:10;padding-top: 40px;
}
.grid2 {
  text-align:center;
  column-gap:1;
  row-gap:10;
  padding-top: 40px;
  height:70px;
  font-family: 'd-did'
}

/*
main class
*/
header {
  overflow: hidden;
  height: 80px;
  width: 100%;
  position: fixed; z-index:500; width:100%; top:0;
}
header h1 span {
  overflow: hidden;
  display: inline-block;
  background: rgba(255,255,255,0.5);
  color: #000;
  width: 28px;
  text-align: center;
  margin: 0 2px;
}
header h1 a {
  overflow: hidden;
  color:#fff;
  text-decoration:none;
}
header p {
  padding: 0;
  margin: 0;
  font: 200 30px/80px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
}
header .search-icon {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 65px;
}
@media only screen and (max-width: 600px) {
  header p {display:none;}
}

@supports (-webkit-touch-callout: none) {
  :root { --vht: calc(100vh - 80px);}
}

@supports not (-webkit-touch-callout: none) {
  :root { --vht: 100vh;}
}
html, body {width:100%; height:var(--vht); padding:0; margin:0; overflow:hidden; background:transparent;}

.vertical {
  width:100%;
  height:var(--vht);
  display:grid;
  grid-template-columns: 100% 100%;
  grid-template-rows: repeat(100vh);
  position:relative;
  overflow: hidden;
  overflow-y: scroll;
}
.vertical div.stick {
  display:block;
  width:100%;
  height:var(--vht);
  position:sticky;
  top:0;
}
.vertical div:first-child {z-index:0;}
.vertical div.stick img {width:100%; object-fit:cover;}

.vertical div.snap {width:100%; display: grid; position:relative; left:-100%; overflow:hidden; content-visibility:auto;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.snap2 {
  position: relative;
}
.vertical div.snap h3 {position:sticky; bottom:210px; width:400px; padding:10px; left:calc(50% - 200px); color:#fff; text-align:center; font:400 20px/25px arial, sans-serif;font-family: 'Courier New', monospace;}
.vertical div.stick h1 {position:absolute; padding:0; margin:0; top:0; left:calc(50% - 160px); width:320px; background:#000; text-align:center; font:600 45px/90px Garamond, serif; color:#fff;}
.vertical div.snap .info {width:100%; max-width:700px; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);font-family: Garamond, serif;text-shadow: 2px 2px #000;}
.vertical div.snap .info h1 {padding:0px; margin:0px; font:600 100px/200px Garamond, serif; color:#fff; text-align:center;}
.vertical div.snap .info p {font:300 40px/90px Garamond, serif; color:#fff;}

/*
Projects Slideshow
*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
